__pycache__/dessinBDD.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/database.cpython-310.pyc
__pycache__/données_serveur.cpython-310.pyc
__pycache__/indices_techniques.cpython-310.pyc
Modèle_bdd/BATBUSD/data_base.db
Modèle_bdd/BATBUSD/modele.h5
Modèle_bdd/BATBUSD/modele.json
Modèle_bdd/BCTEUR/data_base.db
Modèle_bdd/BCTEUR/modele.h5
Modèle_bdd/BCTEUR/modele.json
Modèle_bdd/BNBBUSD/data_base.db
Modèle_bdd/BNBBUSD/modele.h5
Modèle_bdd/BNBBUSD/modele.json
Modèle_bdd/BTCBUSD/data_base.db
Modèle_bdd/BTCBUSD/modele.h5
Modèle_bdd/BTCBUSD/modele.json
Modèle_bdd/ETHBUSD/data_base.db
Modèle_bdd/ETHBUSD/modele.h5
Modèle_bdd/ETHBUSD/modele.json
