discord.py==1.7.3
discord_webhook==0.16.3
keras==2.8.0
numpy==1.24.2
pandas==1.4.2
paramiko==3.0.0
python_binance==1.0.16
requests==2.27.1
shared_memory_dict==0.7.2
tenacity==8.0.1
tensorflow==2.8.0
TA-lib==0.4.25
